<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="cover.css" />
    <style></style>
  </head>
  <body itemtype="https://schema.org/ProfilePage" itemscope>
    <!-- grid -->
    <header
      itemprop="mainEntity"
      itemtype="https://schema.org/Person"
      itemscope
    >
      <!-- (grid item) -->
      <figure>
        <img src="grid/image2.jpg" alt="" class="photo" itemprop="image" />
        <figcaption itemprop="name">
          <span itemprop="givenName">Jonas</span>
          <span itemprop="familyName">Gehring</span>
          <span itemprop="description">Marketing Manager</span>
        </figcaption>
      </figure>
    </header>
    <main>
      <!-- grid item -->
      <h1>
        <span>Bewerbung</span>
        <span>als Jobtitel bei der Neue Firma AG</span>
        <span>Job-ID: 2817H89</span>
      </h1>
    </main>
    <footer>
      <!-- grid item -->
      <h2>Kontakt</h2>
      <address>
        Persönliche Straße 1<br />
        77777 Stadt<br />
        0176 / 767 676 76<br />
        deinname@mail.de
      </address>
    </footer>
  </body>
</html>
