<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      li {
        display: block; /* default: list-item */
        background-color: aquamarine;
      }
      ul {
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <ul>
      <li><a href="#">Start</a></li>
      <li style="flex-grow: 1;"><a href="#">Produkte</a><br />Zweite Zeile</li>
      <li><a href="#">Kontakt</a></li>
    </ul>
  </body>
</html>
